<!doctype html>

{% load static %}

<html>

    <head>
        <meta charset="'utf-8">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'stats/about.css' %}">
        <title></title>
    </head>

    <body>

        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <a href="{% url 'stats:index' %}" class="navbar-brand">Kpop-Numbers</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav">
                    <li class="'nav-item">
                        <a class="nav-link" href="{% url 'stats:about' %}">About</a>
                    </li>
                    <li class="'nav-item">
                        <a class="nav-link" href="{% url 'stats:groups' %}">Groups</a>
                    </li>
                    <li class="'nav-item">
                        <a class="nav-link" href="{% url 'stats:graph' 'all' %}">Graphs</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container jumbotron">
            <div  align="left">
                <h2>Welcome to Kpop-Numbers!</h2>
                <h3>&nbsp;</h3>
                <h5>I built this website as a tool for monitoring and visualizing Youtube music video views of popular
                    Kpop Artists. It is still a work in progress, but I hope one day it will be seamless and easy
                    to use for everyone. Please let me know if there are any bugs or improvements you would like to
                    bring to my attention. Thank you!</h5>
                <h3>&nbsp;</h3>
                <h3>&nbsp;</h3>
                <h3>Q&A:</h3>
                <h3>&nbsp;</h3>
                <h4>How often are music video views updated?</h4>
                <h5>The data for each music video is updated every midnight pacific time using Youtube's api</h5>
                <h3>&nbsp;</h3>
                <h4>I don't see my favorite artist. Will you be adding more?</h4>
                <h5>Contact me with any missing/incorrect artists or information on this website</h5>
                <h3>&nbsp;</h3>
                <h4>How is this tool useful?</h4>
                <h5>By visualizing music video views, it is easier to see trends or correlations with popularity. I
                    hope to add explanations for the graphs and charts in the future to help visitors understand what
                    they are seeing. Additionally, I plan to apply data analytics to make predictions about a group's
                    future popularity based on multiple of factors.</h5>
            </div>
        </div>

        <!-- Footer -->
        <footer class="page-footer font-small blue pt-4">
          <!-- Footer Links -->
          <div class="container-fluid text-center text-md-left">
            <!-- Grid row -->
            <div class="row">
              <!-- Grid column -->
              <div class="col-md-6 mt-md-0 mt-3">
                <!-- Content -->
                <h5 class="text-uppercase">Contact</h5>
                <p>aaronmitchellharris@gmail.com</p>
              </div>
              <!-- Grid column -->
              <hr class="clearfix w-100 d-md-none pb-3">
              <!-- Grid column -->
              <div class="col-md-3 mb-md-0 mb-3">
                  <img src="https://developers.google.com/youtube/images/developed-with-youtube-sentence-case-dark.png" alt="..." width="400" height="143">
                <!-- Links
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                  <li>
                    <a href="#!">Link 1</a>
                  </li>
                  <li>
                    <a href="#!">Link 2</a>
                  </li>
                  <li>
                    <a href="#!">Link 3</a>
                  </li>
                  <li>
                    <a href="#!">Link 4</a>
                  </li>
                </ul> -->
              </div>
              <!-- Grid column -->
              <!-- Grid column -->
              <div class="col-md-3 mb-md-0 mb-3">
                <!-- Links
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                  <li>
                    <a href="#!">Link 1</a>
                  </li>
                  <li>
                    <a href="#!">Link 2</a>
                  </li>
                  <li>
                    <a href="#!">Link 3</a>
                  </li>
                  <li>
                    <a href="#!">Link 4</a>
                  </li>
                </ul>-->
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
          <!-- Footer Links -->
          <!-- Copyright -->
          <div class="footer-copyright text-center py-3">
            <a href="https://mdbootstrap.com/education/bootstrap/"></a>
          </div>
          <!-- Copyright -->
        </footer>
        <!-- Footer -->

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>

</html>