<!doctype html>

{% load static %}

<html>

    <head>
        <meta charset="'utf-8">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'stats/genderData.css' %}">

        <script src="https://kit.fontawesome.com/ecc9da9fa7.js"></script>

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load('current', {'packages': ['table', 'corechart']});
            google.charts.setOnLoadCallback(drawChart);
            google.charts.setOnLoadCallback(drawChart2);
            google.charts.setOnLoadCallback(drawChart3);
            google.charts.setOnLoadCallback(drawChart4);
            google.charts.setOnLoadCallback(drawChart5);
            google.charts.setOnLoadCallback(drawChart6);
            google.charts.setOnLoadCallback(drawChart7);
            google.charts.setOnLoadCallback(drawChart8);

            function drawChart() {

                var data = new google.visualization.arrayToDataTable([

                    ['Gender', 'Groups', 'Videos', 'Idols', 'AVG Videos/Group', 'AVG Idols/Group', 'AVG Views/Group', 'Views'],
                    {% for g in gender %}
                        ['{{ g.gender }}', {{ g.g }}, {{ g.v }}, {{ g.i }}, {{ g.v }}/{{ g.g }}, {{ g.i }}/{{ g.g }}, {{ g.views }}/{{ g.g }}, {{ g.views }}],
                    {% endfor %}

                ]);

                var options = {
                    sortColumn: 7,
                    sortAscending: false,
                    width: '100%',
                };

                var chart = new google.visualization.Table(document.getElementById('chart_div'));
                chart.draw(data, options);

            }
            drawChart;

            function drawChart2() {

                var data = new google.visualization.arrayToDataTable([

                    ['Sex', 'Views'],
                    {% for g in gender %}
                        [ '{{ g.gender }}' , {{ g.v }}],
                    {% endfor %}

                ]);

                var options = {
                    backgroundColor: '#E9ECEF',
                    legend: {
                        position: 'bottom',
                        alignment: 'center',
                    },
                    width: '100%',
                    height: '250',
                    chartArea: {
                        height: '200',
                        width: '30%',
                        left: 5,
                        right: 0,
                        top: 10
                    },
                    /*chartArea: {
                        height: '80%',
                        width: '100%',
                        left: 0,
                        right: 0,
                        top: 0,
                    },*/
                };

                var chart = new google.visualization.PieChart(document.getElementById('chart_div2'));
                chart.draw(data, options);

            }
            drawChart2;

            function drawChart3() {

                var data = new google.visualization.arrayToDataTable([

                    ['Sex', 'Views'],
                    {% for g in gender %}
                        [ '{{ g.gender }}' , {{ g.views }}],
                    {% endfor %}

                ]);

                var options = {
                    backgroundColor: '#E9ECEF',
                    legend: {
                        position: 'bottom',
                        alignment: 'center',
                    },
                    width: '100%',
                    height: '250',
                    chartArea: {
                        height: '200',
                        width: '30%',
                        left: 5,
                        right: 0,
                        top: 10
                    },
                    /*chartArea: {
                        height: '80%',
                        width: '100%',
                        left: 0,
                        right: 0,
                        top: 0,
                    },*/
                };

                var chart = new google.visualization.PieChart(document.getElementById('chart_div3'));
                chart.draw(data, options);

            }
            drawChart3;

            function drawChart4() {

                var data = new google.visualization.arrayToDataTable([

                    ['Sex', 'Groups'],
                    {% for g in gender %}
                        ['{{ g.gender }}', {{ g.g }}],
                    {% endfor %}

                ]);

                var options = {
                    backgroundColor: '#E9ECEF',
                    legend: {
                        position: 'bottom',
                        alignment: 'center',
                    },
                    width: '100%',
                    height: '250',
                    chartArea: {
                        height: '200',
                        width: '100%',
                        left: 5,
                        right: 0,
                        top: 10
                    },
                    /*chartArea: {
                        height: '80%',
                        width: '100%',
                        left: 0,
                        right: 0,
                        top: 0,
                    },*/
                };

                var chart = new google.visualization.PieChart(document.getElementById('chart_div4'));
                chart.draw(data, options);

            }
            drawChart4;

            function drawChart5() {
                var data = new google.visualization.arrayToDataTable([
                    ['Gender', 'AVG Views'],
                    {% for g in gender %}
                        ['{{ g.gender }}', {{ g.views }}/{{ g.g }}],
                    {% endfor %}
                ]);

                var formatter = new google.visualization.NumberFormat({
                        pattern: 'short'
                    });

                formatter.format(data, 1);

                var options = {
                    width: '100%',
                    height: '500',
                    chartArea: {
                        height: '150',
                        width: '100%',
                        left: 75,
                        right: 20,
                        top: 40,
                        bottom: 40
                    },
                    'legend': 'none',
                    bar: {groupWidth: "65%"},
                    backgroundColor: '#E9ECEF',
                    colors: ['#ffc107'],
                    'animation': {
                        "startup": true,
                        duration: 1000,
                        easing: 'out',
                    },
                    hAxis: {
                        title: 'Gender',
                        titleTextStyle: {
                            italic: false,
                            bold: true,
                            fontSize: 20,
                        },
                        gridlines: {
                            count: -1,
                            color: 'black',
                        },
                        minorGridlines: {
                            count: 0
                        },
                    },
                    vAxis: {
                        title: 'AVG Views',
                        titleTextStyle: {
                            italic: false,
                            bold: true,
                            fontSize: 20,
                        },
                        gridlines: {
                            count: 2,
                            color: 'black'
                        },
                        format: 'short',
                    },
                };

                var view = new google.visualization.DataView(data);
                view.setColumns([0, 1,{
                    calc: "stringify",
                    sourceColumn: 1,
                    type: "string",
                    role: "annotation"}]);

                var chart = new google.visualization.ColumnChart(document.getElementById('chart_div5'));
                chart.draw(view, options);
            };
            drawChart5;

            function drawChart6() {
                var data = new google.visualization.arrayToDataTable([
                    ['Gender', 'AVG Views'],
                    {% for g in gender %}
                        ['{{ g.gender }}', {{ g.v }}/{{ g.g }}],
                    {% endfor %}
                ]);

                var formatter = new google.visualization.NumberFormat({
                        pattern: 'short'
                    });

                formatter.format(data, 1);

                var options = {
                    width: '100%',
                    height: '500',
                    chartArea: {
                        height: '150',
                        width: '100%',
                        left: 75,
                        right: 20,
                        top: 40,
                        bottom: 40
                    },
                    'legend': 'none',
                    bar: {groupWidth: "65%"},
                    backgroundColor: '#E9ECEF',
                    colors: ['#ffc107'],
                    'animation': {
                        "startup": true,
                        duration: 1000,
                        easing: 'out',
                    },
                    hAxis: {
                        title: 'Gender',
                        titleTextStyle: {
                            italic: false,
                            bold: true,
                            fontSize: 20,
                        },
                        gridlines: {
                            count: -1,
                            color: 'black',
                        },
                        minorGridlines: {
                            count: 0
                        },
                    },
                    vAxis: {
                        title: 'AVG Videos',
                        titleTextStyle: {
                            italic: false,
                            bold: true,
                            fontSize: 20,
                        },
                        gridlines: {
                            count: 2,
                            color: 'black'
                        },
                        format: 'short',
                    },
                };

                var view = new google.visualization.DataView(data);
                view.setColumns([0, 1,{
                    calc: "stringify",
                    sourceColumn: 1,
                    type: "string",
                    role: "annotation"}]);

                var chart = new google.visualization.ColumnChart(document.getElementById('chart_div6'));
                chart.draw(view, options);
            };
            drawChart6;

            function drawChart7() {
                var data = new google.visualization.arrayToDataTable([
                    ['Gender', 'AVG Views'],
                    {% for g in gender %}
                        ['{{ g.gender }}', {{ g.i }}/{{ g.g }}],
                    {% endfor %}
                ]);

                var formatter = new google.visualization.NumberFormat({
                        pattern: 'short'
                    });

                formatter.format(data, 1);

                var options = {
                    width: '100%',
                    height: '500',
                    chartArea: {
                        height: '150',
                        width: '100%',
                        left: 75,
                        right: 20,
                        top: 40,
                        bottom: 40
                    },
                    'legend': 'none',
                    bar: {groupWidth: "65%"},
                    backgroundColor: '#E9ECEF',
                    colors: ['#ffc107'],
                    'animation': {
                        "startup": true,
                        duration: 1000,
                        easing: 'out',
                    },
                    hAxis: {
                        title: 'Gender',
                        titleTextStyle: {
                            italic: false,
                            bold: true,
                            fontSize: 20,
                        },
                        gridlines: {
                            count: -1,
                            color: 'black',
                        },
                        minorGridlines: {
                            count: 0
                        },
                    },
                    vAxis: {
                        title: 'AVG Members',
                        titleTextStyle: {
                            italic: false,
                            bold: true,
                            fontSize: 20,
                        },
                        gridlines: {
                            count: 2,
                            color: 'black'
                        },
                        format: 'short',
                    },
                };

                var view = new google.visualization.DataView(data);
                view.setColumns([0, 1,{
                    calc: "stringify",
                    sourceColumn: 1,
                    type: "string",
                    role: "annotation"}]);

                var chart = new google.visualization.ColumnChart(document.getElementById('chart_div7'));
                chart.draw(view, options);
            };
            drawChart7;

            function drawChart8() {
                var data = new google.visualization.arrayToDataTable([
                    ['Group', 'Boys', 'Girls', 'Mixed'],
                    {% for g in genderY %}
                        ['{{ g.0 }}', {{ g.1 }}, {{ g.2 }}, {{ g.3 }}],
                    {% endfor %}

                ]);

                var options = {
                    isStacked: true,
                    'height': 500,
                    'width': '100%',
                    chartArea: {
                        height: '150',
                        width: '100%',
                        left: 55,
                        right: 20,
                        top: 40,
                        bottom: 40
                    },
                    'legend': 'bottom',
                    bar: {groupWidth: "75%"},
                    backgroundColor: '#E9ECEF',
                    //colors: ['#ff8000', '#0000ff'],
                    'animation': {
                        "startup": true,
                        duration: 1000,
                        easing: 'out',
                    },
                    hAxis: {
                        title: '',
                        titleTextStyle: {
                            italic: false,
                            bold: true,
                            fontSize: 20,
                        },
                        gridlines: {
                            count: -1,
                            color: 'black',
                        },
                        minorGridlines: {
                            count: 0
                        },
                    },
                    vAxis: {
                        title: 'Videos',
                        titleTextStyle: {
                            italic: false,
                            bold: true,
                            fontSize: 20,
                        },
                        gridlines: {
                            count: 2,
                            color: 'black'
                        },
                    },
                };

                var view = new google.visualization.DataView(data);
                /*view.setColumns([0, 1,{
                    calc: "stringify",
                    sourceColumn: 1,
                    type: "string",
                    role: "annotation"}, 2,{
                    calc: "stringify",
                    sourceColumn: 2,
                    type: "string",
                    role: "annotation"},]);*/

                var chart = new google.visualization.SteppedAreaChart(document.getElementById('chart_div8'));
                chart.draw(data, options);
            };

        </script>
        <title></title>
    </head>

    <body>

        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <a href="{% url 'stats:index' %}" class="navbar-brand">Kpop-Numbers</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'stats:about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'stats:groups' %}">Artists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'stats:graph' 'all' %}">Graphs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'stats:data' %}">Data</a>
                    </li>
                </ul>
            </div>
            <form action="/groups/" class="form-inline my-2 my-lg-0">
                <input id="search_box" name="search" class="form-control mr-sm-2" type="search" placeholder="Search for artist" aria-label="Search">
                <button id="search_submit" class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
            </form>
        </nav>


        <div class="container-fluid jumbotron topButton">
            Gender Data
        </div>

        <!--{% for g in genderY %}
            <p>{{ g }}</p>
        {% endfor %}
        {% for g in genderYear %}
            <p>{{ g }}</p>
        {% endfor %}
        <div class="jumbotron jumbotron-fluid">
            <div class="container-fluid" id="chart_div" align="center"></div>
        </div>
        <p>{{genderY}}</p>
        {% for g in genderY %}
            <p>{{ g.g }}</p>
        {% endfor %}-->

        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-5">
                    <div class="row accordian" id="accordianCharts">
                        <div class="col-12">
                            <a class="btn btn-dark container-fluid holder choose" href="#chart1" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseOne">
                                <i class="fas fa-database"></i> &nbsp;Gender Data
                            </a>
                            <div class="collapse show" id="chart1">
                                <div class="holder googlecharts" id="chart_div" align="center"></div>
                            </div>
                        </div>
                        <div class="col-12">
                            <a class="btn btn-dark container-fluid holder choose below" href="#chart5" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseOne">
                                <i class="far fa-chart-bar"></i> &nbsp;AVG Views Per Gender
                            </a>
                            <div class="collapse show" id="chart5" data-parent="#accordianCharts">
                                <div class="container-fluid card card-body">
                                    <div class="googlecharts zoom" id="chart_div5"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <a class="btn btn-dark container-fluid holder choose below collapsed" href="#chart6" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseOne">
                                <i class="far fa-chart-bar"></i> &nbsp;AVG Videos Per Gender
                            </a>
                            <div class="c1 collapse show" id="chart6" data-parent="#accordianCharts">
                                <div class="container-fluid card card-body">
                                    <div class="googlecharts zoom" id="chart_div6"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <a class="btn btn-dark container-fluid holder choose below collapsed" href="#chart7" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseOne">
                                <i class="far fa-chart-bar"></i> &nbsp;AVG Members Per Gender
                            </a>
                            <div class="c1 collapse show" id="chart7" data-parent="#accordianCharts">
                                <div class="container-fluid card card-body">
                                    <div class="googlecharts zoom" id="chart_div7"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <a class="btn btn-dark container-fluid holder choose below collapsed" href="#chart8" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseOne">
                                <i class="fas fa-chart-area"></i> &nbsp;Number of Groups
                            </a>
                            <div class="c1 collapse show" id="chart8" data-parent="#accordianCharts">
                                <div class="container-fluid card card-body">
                                    <div class="googlecharts zoom" id="chart_div8"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-5">
                    <div class="row">
                        <div class="col-12">
                            <a class="btn btn-dark container-fluid holder choose" href="#chart3" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseOne">
                                <i class="fas fa-chart-pie"></i> &nbsp;Views by Gender
                            </a>
                            <div class="collapse show" id="chart3">
                                <div class="container-fluid card card-body">
                                    <div class="holder googlecharts zoom" id="chart_div3" align="center"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <a class="btn btn-dark container-fluid holder choose below" href="#chart4" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseOne">
                                <i class="fas fa-chart-pie"></i> &nbsp;Groups by Gender
                            </a>
                            <div class="collapse show" id="chart4">
                                <div class="container-fluid card card-body">
                                    <div class="holder googlecharts zoom" id="chart_div4" align="center"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <a class="btn btn-dark container-fluid holder choose below" href="#chart2" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseOne">
                                <i class="fas fa-chart-pie"></i> &nbsp;Videos by Gender
                            </a>
                            <div class="collapse show" id="chart2">
                                <div class="container-fluid card card-body">
                                    <div class="holder googlecharts zoom" id="chart_div2" align="center"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="btn-group-vertical" role="group" aria-label="...">
                        <a class="btn" href="{% url 'stats:data' %}">All Data</a>
                        <a class="btn" href="{% url 'stats:genderData' %}">Gender Data</a>
                        <a class="btn" href="{% url 'stats:companyData' %}">Company Data</a>
                    </div>
                </div>
            </div>
        </div>

         <!-- Footer -->
        <footer class="page-footer font-small blue pt-4">
          <!-- Footer Links -->
          <div class="container-fluid text-center text-md-left">
            <!-- Grid row -->
            <div class="row">
              <!-- Grid column -->
              <div class="col-md-6 mt-md-0 mt-3">
                <!-- Content -->
                <h5 class="text-uppercase">Contact</h5>
                <p>aaronmitchellharris@gmail.com</p>
              </div>
              <!-- Grid column -->
              <hr class="clearfix w-100 d-md-none pb-3">
              <!-- Grid column -->
              <div class="col-md-3 mb-md-0 mb-3">
                  <img src="https://developers.google.com/youtube/images/developed-with-youtube-sentence-case-dark.png" alt="..." width="400" height="143">
                <!-- Links
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                  <li>
                    <a href="#!">Link 1</a>
                  </li>
                  <li>
                    <a href="#!">Link 2</a>
                  </li>
                  <li>
                    <a href="#!">Link 3</a>
                  </li>
                  <li>
                    <a href="#!">Link 4</a>
                  </li>
                </ul> -->
              </div>
              <!-- Grid column -->
              <!-- Grid column -->
              <div class="col-md-3 mb-md-0 mb-3">
                <!-- Links
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                  <li>
                    <a href="#!">Link 1</a>
                  </li>
                  <li>
                    <a href="#!">Link 2</a>
                  </li>
                  <li>
                    <a href="#!">Link 3</a>
                  </li>
                  <li>
                    <a href="#!">Link 4</a>
                  </li>
                </ul>-->
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
          <!-- Footer Links -->
          <!-- Copyright -->
          <div class="footer-copyright text-center py-3">
            <a href="https://mdbootstrap.com/education/bootstrap/"></a>
          </div>
          <!-- Copyright -->
        </footer>
        <!-- Footer -->

        <script src="{% static 'stats/genderData.js' %}"></script>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>

</html>