<!doctype html>

{% load static %}

<html>

    <head>
        <meta charset="'utf-8">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'stats/groupedit.css' %}">
        <title></title>
    </head>

    <body>

        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <a href="{% url 'stats:index' %}" class="navbar-brand">Home</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav">
                    <li class="'nav-item">
                        <a class="nav-link" href="{% url 'stats:about' %}">About</a>
                    </li>
                    <li class="'nav-item">
                        <a class="nav-link" href="{% url 'stats:groups' %}">Groups</a>
                    </li>
                    <li class="'nav-item">
                        <a class="nav-link" href="{% url 'stats:graph' 'all' %}">Graphs</a>
                    </li>
                </ul>
            </div>
        </nav>

        <h1>ADMIN PAGE</h1>
        <h1>GroupEdit</h1>


        {{ group }}

        <script src="https://apis.google.com/js/api.js"></script>
        <script>
            var m, dic;
            dic = [];
            channel = "{{ channel }}"
            function loadClient() {
                gapi.client.setApiKey("AIzaSyDmyWkyolg4wqglm6HVed3-7zxuui9aVSU");
                return gapi.client.load("https://www.googleapis.com/discovery/v1/apis/youtube/v3/rest")
                .then(function() { console.log("GAPI client loaded for API"); },
                function(err) { console.error("Error loading GAPI client for API", err); });
            }

            function execute() {
                return gapi.client.youtube.search.list({
                    "part": "snippet",
                    "channelId": channel,
                    "maxResults": 50,
                    "q": "mv|m/v|music video|"+"{{ group }}",
                    "type": "video"
                    })
                    .then(function(response) {
                        // Handle the results here (response.result has the parsed body).
                        console.log("Response", response);
                        var i, j, hold, hold2;
                        for (i=0;i<50;i++) {
                            dic[i] = {"title":null, "publish":null, "videoId":null, "thumbnail":null};
                            j = i.toString()
                            hold = response["result"]["items"][i]["snippet"]["publishedAt"].split("T");
                            document.getElementById(j).innerHTML = response["result"]["items"][i]["snippet"]["title"];
                            hold2 = response["result"]["items"][i]["snippet"]["title"];
                            dic[i]["title"] = hold2.replace("&#39;", "\'").replace("&#39;", "\'").replace("&quot;", "\"").replace("&quot;", "\"");
                            dic[i]["publish"] = hold[0];
                            dic[i]["videoId"] = response["result"]["items"][i]["id"]["videoId"];
                            dic[i]["thumbnail"] = response["result"]["items"][i]["snippet"]["thumbnails"]["high"]["url"];
                        }
                    },
                    function(err) { console.error("Execute error", err); });
            }
            gapi.load("client");

            function fillForm(number) {
                var g, t, u, yt, th, istr;
                istr = number.toString()
                g = "id_videos-" + istr + "-group";
                t = "id_videos-" + istr + "-title";
                u = "id_videos-" + istr + "-upload_date";
                yt = "id_videos-" + istr + "-yt_video_id";
                th = "id_videos-" + istr + "-thumbnail_url";

                if (document.getElementById(t).value == "") {
                    document.getElementById(g).value = {{ pk }}
                    document.getElementById(t).value = dic[number]["title"]
                    document.getElementById(u).value = dic[number]["publish"]
                    document.getElementById(yt).value = dic[number]["videoId"]
                    document.getElementById(th).value = dic[number]["thumbnail"]
                 } else {
                    document.getElementById(g).value = ""
                    document.getElementById(t).value = ""
                    document.getElementById(u).value = ""
                    document.getElementById(yt).value = ""
                    document.getElementById(th).value = ""
                 }
            }

        </script>
        <button onclick="loadClient()">load</button>
        <button onclick="execute()">execute</button>

        <div class="row">
            <ol>
            {% for i in i|rjust:50 %}
                <div class="col-xl-12 fillButton">
                    <li><button class="btn" id="{{forloop.counter0}}" onclick="fillForm({{forloop.counter0}})"></button></li>
                </div>
            {% endfor %}
            </ol>
        </div>

        <div class="row">
            <form action="" method="post">
                {% csrf_token %}
                {{ formset.management_form }}
                <ol>
                {% for form in formset %}
                    <div class="col-xl-12 formStuff">
                        <li>{{ form }}</li>
                    </div>
                {% endfor %}
                </ol>
                <input type="submit" value="Submit" id="submitButton">
            </form>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>

</html>