<!doctype html>

{% load static %}
{% load humanize %}

<html>

    <head>
        <meta charset="'utf-8">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'stats/groups.css' %}">

       <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">-->
        <script src="https://kit.fontawesome.com/ecc9da9fa7.js"></script>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

        <title></title>
    </head>

    <body>

        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <a href="{% url 'stats:index' %}" class="navbar-brand">Home</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav">
                    <li class="'nav-item">
                        <a class="nav-link" href="{% url 'stats:about' %}">About</a>
                    </li>
                    <li class="'nav-item">
                        <a class="nav-link" href="{% url 'stats:groups' %}">Groups</a>
                    </li>
                    <li class="'nav-item">
                        <a class="nav-link" href="{% url 'stats:graph' 'all' %}">Graphs</a>
                    </li>
                </ul>
            </div>
        </nav>

        <h2 id="FilterBy">Filter by:</h2>

        <div class="container-fluid">
            <div class="row jumbotron" id="buttons">
                <div class="col">
                    <h3><i class="fas fa-venus-mars"></i> Gender</h3>
                    <div id="genderBtnContainer">
                        <button class="btn gactive" onclick="filterSelection('anyGender','gender')"> Any</button>
                        <button class="btn" onclick="filterSelection('B','gender')"> Boys</button>
                        <button class="btn" onclick="filterSelection('G','gender')"> Girls</button>
                    </div>
                </div>

                <div class="col">
                <h3><i class="far fa-building"></i> Company</h3>
                    <div class="dropdown">
                      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-flip="false" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Any
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <button class="dropdown-item" type="button" onclick="filterSelection('anyCompany','company')"> Any</button>
                          {% for c in company_list %}
                              <button class="dropdown-item" type="button" onclick="filterSelection('{{ c.company }}','company')"> {{ c.company }}</button>
                          {% endfor %}
                      </div>
                    </div>
                </div>

                <div class="col">
                    <h3><i class="fas fa-users"></i> Members</h3>
                    <div id="slider-range"></div>
                    <h5 id="amount"></h5>
                </div>

                <div class="col dropdown">
                    <h3>&nbsp;</h3>
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ sort }}
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'stats:groups' %}">Most Viewed</a>
                        <a class="dropdown-item" href="{% url 'stats:hottest' %}">Hottest</a>
                        <a class="dropdown-item" href="{% url 'stats:alphabetical' %}">Alphabetical</a>
                        <a class="dropdown-item" href="{% url 'stats:oldest' %}">Oldest</a>
                        <a class="dropdown-item" href="{% url 'stats:newest' %}">Newest</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row" id="groups">
            {% for g in object_list %}
                 <div class="col-xs-2 col-xs-offset-5 filterDiv {{ g.gender }} {{ g.company }} {{ g.current_member_count }} anyGender anyCompany anyMemberCount choose">
                     <a href="{% url 'stats:profile' g.pk g.name %}">
                         <div class="card bg-dark"">
                             <img src="{{ g.pic_url }}" class="card-img-top" alt="...">
                             <div class="card-body">
                                 <h5 class="card-text">{{ g }}</h5>
                                 <p class="card-text"><i class="far fa-eye"></i> &nbsp;{{ g.total_view_count|intcomma }}</p>
                             </div>
                         </div>
                     </a>
                 </div>
            {% endfor %}
            </div>
        </div>

        <script src="{% static 'stats/groups.js' %}"></script>

        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>

</html>