footer {
    background-color: #e9ecef;
    margin-top: 100px;
}

.centertext {
    text-align: center;
}

#name {
    margin-top: 70px;
}

.centerimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.holder {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px 5px 0px 0px;
}

.collapsed {
    border-radius: 5px 5px 5px 5px;
}

.choose a {
    text-decoration: none;
}

.card-header {
    color: white;
}

.choose:hover {
    color: #ffc107;
}

.card-body {
    //background-color: rgb(186, 186, 186);
    background-color: #E9ECEF;
    margin-bottom: 50px;
    border-radius: 0px 0px 5px 5px;
}

.chart {
    width: 100%;
}

.btn {
    margin-top: 30px
}

#comparebutton:hover {
  background-color: #ffc107;
}

#comparebutton {
    background: #f0ad4e;
    margin-bottom: 10px;
}

/* Add a dark background to the active button */
#comparebutton.gactive {
  background-color: #ffc107;
}

#comparebutton.cactive {
  background-color: #ffc107;
}

.nav-link:hover {
    color: #ffc107;
}

.cardedit {
    width: 319px;
    height: 10rem;
    background: #f0ad4e;
    margin-top: -8px;
}

@media screen and (max-width: 1080px) {
    .googlecharts {
        zoom:.9;
    }
}

@media screen and (min-width: 1080px) {
    .googlecharts {
        zoom:1;
    }
}